<mat-toolbar>
    <a href=""><img src="assets/toilet_marker.png" alt="logo"></a>
    <span>Toilet Finder</span>
    <mat-form-field>
        <mat-label>Keresés</mat-label>
        <input matInput placeholder="Település">
    </mat-form-field>

    <ng-container *ngIf="!isLoggedIn; else loginBlock">
        <a mat-button routerLink="/login">Bejelentkezés</a>
    </ng-container>

    <ng-template #loginBlock>
        <a mat-button *ngIf="userRole === 'admin' " routerLink="/admin">Admin</a>
        <a mat-button routerLink="/profile">Profil</a>
        <button mat-button (click)="logout()">Kijelentkezés</button>
    </ng-template>

    
</mat-toolbar>
