<div id="map-wrapper">
  <div id="map"></div>

  <div class="mat-fabs">
    <button
      mat-fab
      class="fab"
      matTooltip="Legközelebbi mosdó"
      (click)="getNearestToilet()"
    >
      <mat-icon>favicon</mat-icon>
    </button>
    <ng-container *ngIf="auth.isLoggedIn$ | async">
      <button
        mat-fab
        class="fab"
        matTooltip="Új mosdó hozzádás"
        (click)="startAddToiletMode()"
      >
        <mat-icon>favicon</mat-icon>
      </button>
    </ng-container>
  </div>

  <app-toilet-panel
    [toilet]="selectedToilet"
    [calculatedRoute]="calcRoute"
    [time]="time"
    [distance]="distance"
    (close)="selectedToilet = null"
    (startRoute)="startRoute()"
    (googleRoute)="googleRoute()"
    (downloadGpx)="downloadGpx()"
    (TransportModeChange)="onTransportModeChange($event)"
    (startRouteFromCurrentLocation)="startRouteFromCurrentLocation()"
  >
  </app-toilet-panel>

  <div class="center-crosshair" *ngIf="addToiletMode"></div>

  <div class="add-bar" *ngIf="isPickingPosition">
    <button mat-button (click)="confirmPosition()">Pozíció jóváhagyása</button>
    <button mat-button (click)="cancelAdding()">Mégse</button>
  </div>

  <app-add-toilet
    *ngIf="addToiletLatLng && !isPickingPosition && addToiletMode"
    [lat]="addToiletLatLng.lat"
    [lng]="addToiletLatLng.lng"
    (close)="cancelAdding()"
    (save)="saveToilet()"
  >
  </app-add-toilet>
</div>

<!--
<div class="infopanel" *ngIf="selectedToilet">
    <button (click)="selectedToilet = null">X</button>
    <p>Illemehely adatai</p>
    <p>Név: {{selectedToilet.name || "Nincs megadva"}}</p>
    <p>OSM_ID: {{selectedToilet.osm_id || "Nincs megadva"}}</p>
    <p>Díj: {{selectedToilet.fee || "Nincs megadva"}}</p>
    <p>Üzemeltető: {{selectedToilet.operator || "Nincs megadva"}}</p>
    <p>Mozgáskorlátozott: {{selectedToilet.wheelchair || "Nincs megadva"}}</p>
    <p>Nyitvatartás: {{selectedToilet.opening_hours || "Nincs megadva"}}</p>
    <button (click)="startRoute()">Útvonaltervezés</button><br>
    <button (click)="googleRoute()">Megnyitás Google Mapsben</button>
    <button (click)="downloadGpx()">.gpx útvonal fájl letöltése</button>
</div>
--->
