<div class="infopanel">
  <div class="panel-content">
    <h2>Új mosdó hozzáadása</h2>

    <div class="coords">
      <p>Szélesség: {{ lat }}</p>
      <p>Hosszúság: {{ lng }}</p>
    </div>

    <form class="toilet-form">
      <mat-form-field appearance="outline">
        <mat-label>Mosdó elnevezése</mat-label>
        <input matInput [(ngModel)]="name" name="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Üzemeltető</mat-label>
        <input matInput [(ngModel)]="operator" name="operator" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hozzáférhetőség</mat-label>
        <input matInput [(ngModel)]="access" name="access" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nyitvatartás</mat-label>
        <input matInput [(ngModel)]="opening_hours" name="opening_hours" />
      </mat-form-field>

      <div class="toggle-group">
        <mat-slide-toggle [(ngModel)]="fee" name="fee">Díj</mat-slide-toggle
        ><br />
        <mat-slide-toggle [(ngModel)]="wheelchair" name="wheelchair"
          >Mozgáskolátozott</mat-slide-toggle
        >
      </div>

      <mat-divider></mat-divider>

      <h3>További infomációk hozzáadása</h3>

      <div class="extra-section">
        <div class="extra-item" *ngFor="let p of extraInfos; let i = index">
          <p class="extra-title">Extra információ {{ i + 1 }}</p>

          <mat-form-field appearance="outline">
            <mat-label>Megnevezés</mat-label>
            <input matInput [(ngModel)]="p.key" name="extraKey{{ i }}" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Érték</mat-label>
            <input matInput [(ngModel)]="p.value" name="extraValue{{ i }}" />
          </mat-form-field>

          <button mat-button class="panel-button" type="button" color="warn" (click)="removeExtraInfo(i)">
            Törlés
          </button>
        </div>

        <button
          mat-button
          class="panel-button"
          type="button"
          (click)="addExtraInfo()"
          [disabled]="extraInfos.length >= maxNumExtraInfo"
        >
          További információ hozzáadása
        </button>
      </div>
    </form>

    <mat-divider></mat-divider>

    <div class="action-row">
    <button mat-button class="panel-button" (click)="saveToilet()">Hozzáadás</button>
    <button mat-button class="panel-button" (click)="close.emit()">Mégse</button>
    </div>
  </div>
</div>
