<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Felhasználók">
    <div class="admin-page">
      <div class="searchbar">
        <mat-form-field appearance="outline">
          <mat-label>Keresés</mat-label>
          <input
            matInput
            placeholder="pl.: Gantal vagy 2"
            [formControl]="searchControlUser"
          />
        </mat-form-field>
      </div>
      <div class="admin-split">
        <div class="panel-list">
          <mat-card>            
            <div class="list-element">
              <h2>Felhasználók</h2>
              <div *ngFor="let user of users">
                <mat-card
                  *ngIf="!user.is_deleted"
                  (click)="setUser(user)"
                  [class.selected-card]="selectedUser?.user_id === user.user_id"
                >
                  <mat-card-content>
                    <p>Név: {{ user.name }}</p>
                    <p>User ID: {{ user.user_id }}</p>
                    <p>Google ID: {{ user.google_id }}</p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="panel-details" *ngIf="selectedUser !== null">
          <mat-card>
            <h2>Felhasználó adatai</h2>
            <mat-card-content class="card-detail">
              <p>GoogleID: {{ selectedUser.google_id }}</p>
              <p>Név: {{ selectedUser.name }}</p>
              <p>Email: {{ selectedUser.email }}</p>
              <p>Nickname: {{ selectedUser.nickname }}</p>
              <p>Szerepkör: {{ selectedUser.role }}</p>
              <p>Google ID: {{ selectedUser.google_id }}</p>
              <button
                mat-button
                (click)="deleteUserByAdmin(selectedUser.user_id)"
              >
                Felhasználó törlése
              </button>
              <mat-divider></mat-divider>
              <h2>Felhasználó véleményei</h2>
              <p class="panel-infotext" *ngIf="!userRatings.length">
                Ez a felhasználó még nem írt véleményt.
              </p>
              <div class="ratings-list">
                <div *ngFor="let rat of userRatings">
                  <mat-card>
                    <p>{{ rat.user_name }}</p>
                    <p>{{ rat.creation_time | date: "yyyy. MM. dd." }}</p>
                    <app-star-rating [rating]="rat.value" [readonly]="true">
                    </app-star-rating>
                    <p>{{ rat.description }}</p>
                    <button mat-button (click)="deleteRating(rat.rating_id)">
                      Törlés
                    </button>
                  </mat-card>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Illemhelyek">
    <div class="admin-page">
      <div class="searchbar">
        <mat-form-field appearance="outline">
          <mat-label>Keresés</mat-label>
          <input
            matInput
            placeholder="pl.: 1234 vagy MÁV"
            [formControl]="searchControlToilet"
          />
        </mat-form-field>
      </div>
      <div class="admin-split">
        <div class="panel-list">
          <mat-card>
            <div class="list-element">
              <h2>Mosdók</h2>
              <div *ngFor="let toilet of toilets">
                <mat-card
                  (click)="!modifyTrigger && getToiletDetails(toilet.toilet_id)"
                  [class.selected-card]="
                    slectedToilet?.toilet_id === toilet.toilet_id
                  "
                >
                  <mat-card-content>
                    <p>Toilet ID: {{ toilet.toilet_id }}</p>
                    <p>OSM ID: {{ toilet.osm_id }}</p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="panel-details" *ngIf="slectedToilet !== null">
          <mat-card *ngIf="!modifyTrigger">
            <mat-card-content class="card-detail">
              <h2>Mosdó adatai</h2>
              <p>Név: {{ slectedToilet.name || "Nincs megadva" }}</p>
              <p>Toilet ID: {{ slectedToilet.toilet_id || "Nincs megadva" }}</p>
              <p>OSM ID: {{ slectedToilet.osm_id || "Nincs megadva" }}</p>
              <p>Üzemeltető: {{ slectedToilet.operator || "Nincs megadva" }}</p>
              <p>Hozzáférés: {{ slectedToilet.access || "Nincs megadva" }}</p>
              <p>
                Nyitvatratás:
                {{ slectedToilet.opening_hours || "Nincs megadva" }}
              </p>
              <p>Pozíció: {{ slectedToilet.lat }}, {{ slectedToilet.lon }}</p>
              <p>Használati díj: {{ slectedToilet.fee || "Nincs megadva" }}</p>
              <p>
                Mozgáskorlátozott:
                {{ slectedToilet.wheelchair || "Nincs megadva" }}
              </p>
              <p>Jóvágyaott: {{ slectedToilet.approved ? "Igen" : "Nem" }}</p>
              <p>
                Általa jóváhagyott:
                {{ slectedToilet.approved_by ?? "OSM adatbázidból" }}
              </p>
              <p>
                Álatala hozzáadva:
                {{ slectedToilet.added_by ?? "OSM adatbázisból" }}
              </p>
              <div *ngIf="slectedToilet.extra_info as extra_info">
                <p>További adatok:</p>
                <div *ngFor="let key of Keys(extra_info)">
                  <p>
                    {{ tag.keyToHun(key) }}:
                    {{ tag.valueToHUN(extra_info[key]) }}
                  </p>
                </div>
              </div>
              <div class="field-button">
                <button mat-button (click)="setModifyTrigger()">
                  Módosítás
                </button>
                <button mat-button (click)="deleteToilet()">Törlés</button>
              </div>
            </mat-card-content>

            <mat-divider></mat-divider>

            <h2>Mosdó értékelései</h2>

            <p class="panel-infotext" *ngIf="!toiletRatings.length">
              Ehhez a mosdóhoz még nem érkezett értékelés.
            </p>

            <div class="ratings-list" *ngIf="!modifyTrigger">
              <div *ngFor="let rat of toiletRatings">
                <mat-card>
                  <p>{{ rat.user_name }}</p>
                  <p>{{ rat.creation_time | date: "yyyy. MM. dd." }}</p>
                  <app-star-rating [rating]="rat.value" [readonly]="true">
                  </app-star-rating>
                  <p>{{ rat.description }}</p>
                  <button mat-button (click)="deleteRating(rat.rating_id)">
                    Törlés
                  </button>
                </mat-card>
              </div>
            </div>
          </mat-card>
          <mat-card *ngIf="modifyTrigger">
            <mat-card-content class="card-detail">
              <h2>Mosdó módosítása</h2>
              <form class="edit-form" (ngSubmit)="putToiletData()">
                <mat-form-field class="field" appearance="outline">
                  <mat-label>Név:</mat-label>
                  <input matInput [(ngModel)]="editToilet.name" name="name" />
                </mat-form-field>
                <mat-form-field class="field" appearance="outline">
                  <mat-label>Üzemeltető:</mat-label>
                  <input
                    matInput
                    [(ngModel)]="editToilet.operator"
                    name="operator"
                  />
                </mat-form-field>
                <mat-form-field class="field" appearance="outline">
                  <mat-label>Hozzáférés:</mat-label>
                  <input
                    matInput
                    [(ngModel)]="editToilet.access"
                    name="access"
                  />
                </mat-form-field>
                <mat-form-field class="field" appearance="outline">
                  <mat-label>Nyitvatartás:</mat-label>
                  <input
                    matInput
                    [(ngModel)]="editToilet.opening_hours"
                    name="openinghours"
                  />
                </mat-form-field>

                <div class="toggles">
                  <mat-slide-toggle [(ngModel)]="editToilet.fee" name="fee">
                    Használati díj
                  </mat-slide-toggle>

                  <mat-slide-toggle
                    [(ngModel)]="editToilet.wheelchair"
                    name="wheelchair"
                  >
                    Mozgáskorlátozott
                  </mat-slide-toggle>
                </div>

                <mat-form-field class="field-full" appearance="outline">
                  <mat-label>Extra információ:</mat-label>
                  <textarea
                    matInput
                    rows="5"
                    [(ngModel)]="extraInfoText"
                    name="extraInfoText"
                  ></textarea>
                </mat-form-field>
                <div class="field-button">
                  <button mat-button color="primary" type="submit">
                    Mentés
                  </button>
                  <button mat-button type="button" (click)="setModifyTrigger()">
                    Mégse
                  </button>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Új javaslatok">
    <div class="admin-page">
      <div class="admin-split">
        <div class="panel-list">
          <mat-card>
            <div class="list-element">
              <h2>Új javaslatok</h2>
              <div *ngFor="let toilet of newToilets">
                <mat-card
                  (click)="getNewToiletDetails(toilet.toilet_id)"
                  [class.selected-card]="
                    slectedToilet?.toilet_id === toilet.toilet_id
                  "
                >
                  <mat-card-content>
                    <p>Toilet ID: {{ toilet.toilet_id }}</p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="panel-details" *ngIf="slectedToilet !== null">
          <mat-card>
            <h2>Mosdó adatai</h2>
            <mat-card-content class="card-detail">
              <p>Név: {{ slectedToilet.name || "Nincs megadva" }}</p>
              <p>Toilet ID: {{ slectedToilet.toilet_id || "Nincs megadva" }}</p>
              <p>OSM ID: {{ slectedToilet.osm_id || "Nincs megadva" }}</p>
              <p>Üzemeltető: {{ slectedToilet.operator || "Nincs megadva" }}</p>
              <p>Hozzáférés: {{ slectedToilet.access || "Nincs megadva" }}</p>
              <p>
                Nyitvatratás:
                {{ slectedToilet.opening_hours || "Nincs megadva" }}
              </p>
              <p>Pozíció: {{ slectedToilet.lat }}, {{ slectedToilet.lon }}</p>
              <p>Használati díj: {{ slectedToilet.fee || "Nincs megadva" }}</p>
              <p>
                Mozgáskorlátozott:
                {{ slectedToilet.wheelchair || "Nincs megadva" }}
              </p>
              <p>
                Átala hozzáadva:
                {{ slectedToilet.added_by ?? "OSM adatbázisból" }}
              </p>
              <div *ngIf="slectedToilet.extra_info as extra_info">
                <p>További adatok:</p>
                <div *ngFor="let key of Keys(extra_info)">
                  <p>
                    {{ tag.keyToHun(key) }}:
                    {{ tag.valueToHUN(extra_info[key]) }}
                  </p>
                </div>
              </div>
              <div class="field-button">
              <button
                mat-button
                (click)="approveToilet(slectedToilet.toilet_id)"
              >
                Jóváhagyás
              </button>
              <button
                mat-button
                (click)="rejectToilet(slectedToilet.toilet_id)"
              >
                Elutasítás
              </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Módosítási javaslatok">
    <div class="admin-page">
      <div class="admin-split">
        <div class="panel-list">
          <mat-card>
            <div class="list-element">
              <h2>Módosítási javaslatok</h2>
              <div *ngFor="let suggestion of suggestions" class="listItem">
                <mat-card
                  (click)="!modifyTrigger && setSuggestion(suggestion)"
                  [class.selected-card]="
                    selectedSuggestion?.suggestion_id ===
                    suggestion.suggestion_id
                  "
                >
                  <mat-card-content>
                    <p>Suggestion ID: {{ suggestion.suggestion_id }}</p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="panel-details">
          <div *ngIf="selectedSuggestion !== null">
            <mat-card *ngIf="selectedSuggestion !== null">
              <h2>Módosítási javaslat</h2>
              <mat-card-content class="card-detail">
                <p>Suggestion ID: {{ selectedSuggestion.suggestion_id }}</p>
                <p>Javasolta: {{ selectedSuggestion.user_id }}</p>
                <p>
                  Időpont:
                  {{ selectedSuggestion.creation_time | date: "yyyy. MM. dd." }}
                </p>
                <p>Javaslat: {{ selectedSuggestion.description }}</p>
                <button mat-button (click)="rejectSuggestion()">
                  Elutasítás
                </button>
              </mat-card-content>
            </mat-card>
          </div>
          <div *ngIf="slectedToilet !== null">
            <mat-card *ngIf="!modifyTrigger">
              <h2>Mosdó adatai</h2>
              <mat-card-content class="card-detail">
                <p>Név: {{ slectedToilet.name || "Nincs megadva" }}</p>
                <p>
                  Toilet ID: {{ slectedToilet.toilet_id || "Nincs megadva" }}
                </p>
                <p>OSM ID: {{ slectedToilet.osm_id || "Nincs megadva" }}</p>
                <p>
                  Üzemeltető: {{ slectedToilet.operator || "Nincs megadva" }}
                </p>
                <p>Hozzáférés: {{ slectedToilet.access || "Nincs megadva" }}</p>
                <p>
                  Nyitvatratás:
                  {{ slectedToilet.opening_hours || "Nincs megadva" }}
                </p>
                <p>Pozíció: {{ slectedToilet.lat }}, {{ slectedToilet.lon }}</p>
                <p>
                  Használati díj: {{ slectedToilet.fee || "Nincs megadva" }}
                </p>
                <p>
                  Mozgáskorlátozott:
                  {{ slectedToilet.wheelchair || "Nincs megadva" }}
                </p>
                <p>
                  Jóváhagyott: {{ slectedToilet.approved ? "Igen" : "Nem" }}
                </p>
                <p>
                  Általa jóváhagyott:
                  {{ slectedToilet.approved_by || "OSM adatbázidból" }}
                </p>
                <p>
                  Átala hozzáadva:
                  {{ slectedToilet.added_by || "OSM adatbázisból" }}
                </p>
                <div *ngIf="slectedToilet.extra_info as extra_info">
                  <p>További adatok:</p>
                  <div *ngFor="let key of Keys(extra_info)">
                    <p>
                      {{ tag.keyToHun(key) }}:
                      {{ tag.valueToHUN(extra_info[key]) }}
                    </p>
                  </div>
                </div>
                <button mat-button (click)="setModifyTrigger()">
                  Módosítás
                </button>
              </mat-card-content>
            </mat-card>

            <mat-card *ngIf="modifyTrigger">
              <h2>Mosdó módosítása</h2>
              <mat-card-content class="card-detail">
                <form class="edit-form" (ngSubmit)="putToiletDataSuggestoins()">
                  <mat-form-field class="field" appearance="outline">
                    <mat-label>Név:</mat-label>
                    <input matInput [(ngModel)]="editToilet.name" name="name" />
                  </mat-form-field>
                  <mat-form-field class="field" appearance="outline">
                    <mat-label>Üzemeltető:</mat-label>
                    <input
                      matInput
                      [(ngModel)]="editToilet.operator"
                      name="operator"
                    />
                  </mat-form-field>
                  <mat-form-field class="field" appearance="outline">
                    <mat-label>Hozzáférés:</mat-label>
                    <input
                      matInput
                      [(ngModel)]="editToilet.access"
                      name="access"
                    />
                  </mat-form-field>
                  <mat-form-field class="field" appearance="outline">
                    <mat-label>Nyitvatartás:</mat-label>
                    <input
                      matInput
                      [(ngModel)]="editToilet.opening_hours"
                      name="openinghours"
                    />
                  </mat-form-field>

                  <div class="toggles">
                    <mat-slide-toggle [(ngModel)]="editToilet.fee" name="fee">
                      Használati díj
                    </mat-slide-toggle>

                    <mat-slide-toggle
                      [(ngModel)]="editToilet.wheelchair"
                      name="wheelchair"
                    >
                      Mozgáskorlátozott
                    </mat-slide-toggle>
                  </div>
                  <mat-form-field class="field-full" appearance="outline">
                    <mat-label>Extra információ:</mat-label>
                    <textarea
                      matInput
                      rows="5"
                      [(ngModel)]="extraInfoText"
                      name="extraInfoText"
                    ></textarea>
                  </mat-form-field>
                  <div class="field-button">
                    <button mat-button color="primary" type="submit">
                      Mentés
                    </button>
                    <button
                      mat-button
                      type="button"
                      (click)="setModifyTrigger()"
                    >
                      Mégse
                    </button>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
