<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Felhasználók">
    <h2>Felhasználók:</h2>
    <mat-form-field>
      <mat-label>Keresés</mat-label>
      <input
        matInput
        placeholder="pl.: Gantal vagy 2"
        [formControl]="searchControlUser"
      />
    </mat-form-field>
    <div class="nameContainer">
      <mat-card>
        <div class="listElement">
          <div *ngFor="let user of users" class="listItem">
            <mat-card *ngIf="!user.is_deleted" (click)="setUser(user)">
              <mat-card-content>
                <p>Google ID: {{ user.google_id }}</p>
                <p>Név: {{ user.name }}</p>
              </mat-card-content>
            </mat-card>
            <br />
          </div>
        </div>
      </mat-card>
      <div *ngIf="selectedUser !== null">
        <mat-card>
          <mat-card-content>
            <p>GoogleID: {{ selectedUser.google_id }}</p>
            <p>Név: {{ selectedUser.name }}</p>
            <p>Email: {{ selectedUser.email }}</p>
            <p>Nickname: {{ selectedUser.nickname }}</p>
            <p>Szerepkör: {{ selectedUser.role }}</p>
            <p>Google ID: {{ selectedUser.google_id }}</p>
            <button
              mat-button
              (click)="deleteUserByAdmin(selectedUser.user_id)"
            >
              Felhasználó törlése
            </button>
            <mat-divider></mat-divider>
            <br />
            <h4>Felhasználó véleményei:</h4>
            <div class="ratings-list">
              <div *ngFor="let rat of userRatings">
                <mat-card>
                  <p>{{ rat.user_name }}</p>
                  <p>{{ rat.creation_time | date: "yyyy. MM. dd." }}</p>
                  <app-star-rating [rating]="rat.value" [readonly]="true">
                  </app-star-rating>
                  <p>{{ rat.description }}</p>
                  <button mat-button (click)="deleteRating(rat.rating_id)">
                    Törlés
                  </button>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br />
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Illemhelyek">
    <h2>Illemhelyek:</h2>
    <mat-form-field>
      <mat-label>Keresés</mat-label>
      <input
        matInput
        placeholder="pl.: 1234 vagy MÁV"
        [formControl]="searchControlToilet"
      />
    </mat-form-field>
    <div class="nameContainer">
      <mat-card *ngIf="!modifyTrigger">
        <div class="listElement">
          <div *ngFor="let toilet of toilets" class="listItem">
            <mat-card (click)="getToiletDetails(toilet.toilet_id)">
              <mat-card-content>
                <p>Toilet ID: {{ toilet.toilet_id }}</p>
                <p>OSM ID: {{ toilet.osm_id }}</p>
              </mat-card-content>
            </mat-card>
            <br />
          </div>
        </div>
      </mat-card>
      <div *ngIf="slectedToilet !== null">
        <mat-card *ngIf="!modifyTrigger">
          <mat-card-content>
            <p>Név: {{ slectedToilet.name || "Nincs megadva" }}</p>
            <p>Toilet ID: {{ slectedToilet.toilet_id || "Nincs megadva" }}</p>
            <p>OSM ID: {{ slectedToilet.osm_id || "Nincs megadva" }}</p>
            <p>Üzemeltető: {{ slectedToilet.operator || "Nincs megadva" }}</p>
            <p>Hozzáférés: {{ slectedToilet.access || "Nincs megadva" }}</p>
            <p>
              Nyitvatratás: {{ slectedToilet.opening_hours || "Nincs megadva" }}
            </p>
            <p>Pozíció: {{ slectedToilet.lat }}, {{ slectedToilet.lon }}</p>
            <p>Használati díj: {{ slectedToilet.fee || "Nincs megadva" }}</p>
            <p>
              Mozgáskorlátozott:
              {{ slectedToilet.wheelchair || "Nincs megadva" }}
            </p>
            <p>Jóvágyaott: {{ slectedToilet.approved ? "Igen" : "Nem" }}</p>
            <p>
              Általa jóváhagyott:
              {{ slectedToilet.approved_by ?? "OSM adatbázidból" }}
            </p>
            <p>
              Álatala hozzáadva:
              {{ slectedToilet.added_by ?? "OSM adatbázisból" }}
            </p>
            <div *ngIf="slectedToilet.extra_info as extra_info">
              <p>További adatok:</p>
              <div *ngFor="let key of Keys(extra_info)">
                <p>{{ tag.keyToHun(key) }}: {{ tag.valueToHUN(extra_info[key]) }}</p>
              </div>
            </div>
          </mat-card-content>
          <button mat-button (click)="setModifyTrigger()">Módosítás</button>
          <button mat-button (click)="deleteToilet()">Törlés</button>
          <h4>Vélemények az illemhelyről:</h4>
          <div class="ratings-list" *ngIf="!modifyTrigger">
            <div *ngFor="let rat of toiletRatings">
              <mat-card>
                <p>{{ rat.user_name }}</p>
                <p>{{ rat.creation_time | date: "yyyy. MM. dd." }}</p>
                <app-star-rating [rating]="rat.value" [readonly]="true">
                </app-star-rating>
                <p>{{ rat.description }}</p>
                <button mat-button (click)="deleteRating(rat.rating_id)">
                  Törlés
                </button>
              </mat-card>
            </div>
          </div>
        </mat-card>
        <mat-card *ngIf="modifyTrigger">
          <mat-card-content>
            <form class="example-form" (ngSubmit)="putToiletData()">
              <mat-form-field class="example-full-width">
                <mat-label>Név:</mat-label>
                <input
                  matInput
                  [(ngModel)]="editToilet.name"
                  placeholder="{{ slectedToilet.name }}"
                  name="name"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Üzemeltető:</mat-label>
                <input
                  matInput
                  [(ngModel)]="editToilet.operator"
                  placeholder="{{ slectedToilet.operator }}"
                  name="operator"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Hozzáférés:</mat-label>
                <input
                  matInput
                  [(ngModel)]="editToilet.access"
                  placeholder="{{ slectedToilet.access }}"
                  name="access"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Nyitvatartás:</mat-label>
                <input
                  matInput
                  [(ngModel)]="editToilet.opening_hours"
                  placeholder="{{ slectedToilet.opening_hours }}"
                  name="openinghours"
                />
              </mat-form-field>

              <mat-slide-toggle [(ngModel)]="editToilet.fee" name="fee">
                Használati díj
              </mat-slide-toggle>

              <mat-slide-toggle
                [(ngModel)]="editToilet.wheelchair"
                name="wheelchair"
              >
                Mozgáskorlátozott
              </mat-slide-toggle>

              <mat-form-field class="example-full-width">
                <mat-label>Extra információ:</mat-label>
                <textarea
                  matInput
                  rows="2"
                  [(ngModel)]="extraInfoText"
                  name="extraInfoText"
                ></textarea>
              </mat-form-field>
              <button mat-button type="submit">Mentés</button>
              <button mat-button type="button" (click)="setModifyTrigger()">
                Mégse
              </button>
            </form>
          </mat-card-content>
        </mat-card>
        <br />
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Új javaslatok">
    <div class="nameContainer">
      <mat-card>
        <div class="listElement">
          <div *ngFor="let toilet of newToilets" class="listItem">
            <mat-card (click)="getNewToiletDetails(toilet.toilet_id)">
              <mat-card-content>
                <p>Toilet ID: {{ toilet.toilet_id }}</p>
              </mat-card-content>
            </mat-card>
            <br />
          </div>
        </div>
      </mat-card>
      <div *ngIf="slectedToilet !== null">
        <mat-card>
          <mat-card-content>
            <p>Név: {{ slectedToilet.name || "Nincs megadva" }}</p>
            <p>Toilet ID: {{ slectedToilet.toilet_id || "Nincs megadva" }}</p>
            <p>OSM ID: {{ slectedToilet.osm_id || "Nincs megadva" }}</p>
            <p>Üzemeltető: {{ slectedToilet.operator || "Nincs megadva" }}</p>
            <p>Hozzáférés: {{ slectedToilet.access || "Nincs megadva" }}</p>
            <p>
              Nyitvatratás: {{ slectedToilet.opening_hours || "Nincs megadva" }}
            </p>
            <p>Pozíció: {{ slectedToilet.lat }}, {{ slectedToilet.lon }}</p>
            <p>Használati díj: {{ slectedToilet.fee || "Nincs megadva" }}</p>
            <p>
              Mozgáskorlátozott:
              {{ slectedToilet.wheelchair || "Nincs megadva" }}
            </p>
            <p>Jóvágyaott: {{ slectedToilet.approved ? "Igen" : "Nem" }}</p>
            <p>
              Általa jóváhagyott:
              {{ slectedToilet.approved_by ?? "OSM adatbázidból" }}
            </p>
            <p>
              Álatala hozzáadva:
              {{ slectedToilet.added_by ?? "OSM adatbázisból" }}
            </p>
            <div *ngIf="slectedToilet.extra_info as extra_info">
              <p>További adatok:</p>
              <div *ngFor="let key of Keys(extra_info)">
                <p>{{ key }}: {{ extra_info[key] }}</p>
              </div>
            </div>

            <button mat-button (click)="approveToilet(slectedToilet.toilet_id)">
              Jóváhagyás
            </button>
            <button mat-button (click)="rejectToilet(slectedToilet.toilet_id)">
              Elutasítás
            </button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Módosítási javaslatok">
    <h2>Módosítási javaslatok:</h2>
    <div class="nameContainer">
      <mat-card>
        <div class="listElement">
          <div *ngFor="let suggestion of suggestions" class="listItem">
            <mat-card (click)="setSuggestion(suggestion)">
              <mat-card-content>
                <p>Suggestion ID: {{ suggestion.suggestion_id }}</p>
              </mat-card-content>
            </mat-card>
            <br />
          </div>
        </div>
      </mat-card>
      <div *ngIf="selectedSuggestion !== null">
        <mat-card>
          <mat-card-content>
            <p>Suggestion ID: {{ selectedSuggestion.suggestion_id }}</p>
            <p>Javasolta: {{ selectedSuggestion.user_id }}</p>
            <p>
              Időpont:
              {{ selectedSuggestion.creation_time | date: "yyyy. MM. dd." }}
            </p>
            <p>Javaslat: {{ selectedSuggestion.description }}</p>
            <button mat-button (click)="rejectSuggestion()">Elutasítás</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="slectedToilet !== null">
        <mat-card *ngIf="!modifyTrigger">
          <mat-card-content>
            <p>Név: {{ slectedToilet.name || "Nincs megadva" }}</p>
            <p>Toilet ID: {{ slectedToilet.toilet_id || "Nincs megadva" }}</p>
            <p>OSM ID: {{ slectedToilet.osm_id || "Nincs megadva" }}</p>
            <p>Üzemeltető: {{ slectedToilet.operator || "Nincs megadva" }}</p>
            <p>Hozzáférés: {{ slectedToilet.access || "Nincs megadva" }}</p>
            <p>
              Nyitvatratás: {{ slectedToilet.opening_hours || "Nincs megadva" }}
            </p>
            <p>Pozíció: {{ slectedToilet.lat }}, {{ slectedToilet.lon }}</p>
            <p>Használati díj: {{ slectedToilet.fee || "Nincs megadva" }}</p>
            <p>
              Mozgáskorlátozott:
              {{ slectedToilet.wheelchair || "Nincs megadva" }}
            </p>
            <p>Jóváhagyott: {{ slectedToilet.approved ? "Igen" : "Nem" }}</p>
            <p>
              Általa jóváhagyott:
              {{ slectedToilet.approved_by || "OSM adatbázidból" }}
            </p>
            <p>
              Álatala hozzáadva:
              {{ slectedToilet.added_by || "OSM adatbázisból" }}
            </p>
            <div *ngIf="slectedToilet.extra_info as extra_info">
              <p>További adatok:</p>
              <div *ngFor="let key of Keys(extra_info)">
                <p>{{ key }}: {{ extra_info[key] }}</p>
              </div>
            </div>
            <button mat-button (click)="setModifyTrigger()">Módosítás</button>
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="modifyTrigger">
          <mat-card-content>
            <form class="example-form" (ngSubmit)="putToiletDataSuggestoins()">
              <mat-form-field class="example-full-width">
                <mat-label>Név:</mat-label>
                <input
                  matInput
                  [(ngModel)]="editToilet.name"
                  placeholder="selectedToilet.name"
                  name="name"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Üzemeltető:</mat-label>
                <input
                  matInput
                  [(ngModel)]="editToilet.operator"
                  placeholder="slectedToilet.operator"
                  name="operator"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Hozzáférés:</mat-label>
                <input
                  matInput
                  [(ngModel)]="editToilet.access"
                  placeholder="slectedToilet.access"
                  name="access"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Nyitvatartás:</mat-label>
                <input
                  matInput
                  [(ngModel)]="editToilet.opening_hours"
                  placeholder="slectedToilet.opening_hours"
                  name="openinghours"
                />
              </mat-form-field>

              <mat-slide-toggle [(ngModel)]="editToilet.fee" name="fee">
                Használati díj
              </mat-slide-toggle>

              <mat-slide-toggle
                [(ngModel)]="editToilet.wheelchair"
                name="wheelchair"
              >
                Mozgáskorlátozott
              </mat-slide-toggle>

              <mat-form-field class="example-full-width">
                <mat-label>Extra információ:</mat-label>
                <textarea
                  matInput
                  rows="2"
                  [(ngModel)]="extraInfoText"
                  name="extraInfoText"
                ></textarea>
              </mat-form-field>
              <button mat-button type="submit">Mentés</button>
              <button mat-button type="button" (click)="setModifyTrigger()">
                Mégse
              </button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
