<div class="profile-page">
  
    <mat-card class="profile-card">
      <h2>Profil</h2>
      <div *ngIf="user && formTrigger === false" class="profil-text">
        <p>Name: {{ user.name }}</p>
        <p>Email: {{ user.email }}</p>
        <p *ngIf="user.role === 'admin'">Szerepkör: {{ user.role }}</p>
        <p *ngIf="user.nickname">Nickname: {{ user.nickname }}</p>
        <p *ngIf="!user.nickname">Nickname: Nincs megadva</p>
        <button mat-button class="action-button" (click)="formTriggerFunc()">
          Nickname módosítása
        </button>
      </div>

      <div *ngIf="user && formTrigger === true" class="profil-text">
        <p>Name: {{ user.name }}</p>
        <p>Email: {{ user.email }}</p>
         <p *ngIf="user.role === 'admin'">Szerepkör: {{ user.role }}</p>
        <form class="example-form" (ngSubmit)="setNewNickname()">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Adj meg becenevet:</mat-label>
            <input
              matInput
              [(ngModel)]="newNickname"
              placeholder="Új becenév"
              name="nickname"
            />
          </mat-form-field>
          <div class="field-button">
            <button mat-button class="action-button" type="submit">
              Mentés
            </button>
            <button
              mat-button
              class="action-button"
              type="button"
              (click)="formTriggerFunc()"
            >
              Mégse
            </button>
            <button
              mat-button
              type="button"
              color="warn"
              (click)="removeNickname()"
              class="action-button"
            >
              Ninckname törlése
            </button>
          </div>
        </form>
      </div>

      <mat-divider></mat-divider>
      <h2>Vélemények</h2>
      <p class="panel-infotext" *ngIf="!ratings.length">
        Még nem írtál véleményt.
      </p>

      <div class="ratings-section">
        <div class="ratings-list">
          <div *ngFor="let rat of ratings">
            <mat-card class="rating-card">
              <div *ngIf="editingRatingId !== rat.rating_id">
                <p>Név/id: {{ rat.toilet_id }}</p>
                <p>{{ rat.creation_time | date: "yyyy. MM. dd." }}</p>
                <app-star-rating [rating]="rat.value" [readonly]="true">
                </app-star-rating>
                <p>{{ rat.description }}</p>

                <div class="field-button">
                  <button mat-button (click)="modifyRating(rat.rating_id)">
                    Módosítás
                  </button>
                  <button
                    mat-button
                    color="warn"
                    (click)="deleteRating(rat.rating_id)"
                  >
                    Törlés
                  </button>
                </div>
              </div>
            </mat-card>

             
            <div *ngIf="editingRatingId === rat.rating_id">
              <mat-card class="rating-card">
              <p>Név/id: {{ rat.toilet_id }}</p>
              <app-star-rating [(rating)]="rat.value"> </app-star-rating>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Vélemény módosítása</mat-label>
                <textarea
                  matInput
                  placeholder="rat.description"
                  [(ngModel)]="rat.description"
                  name="description"
                  row="3"
                ></textarea>
              </mat-form-field>
              

              <div class="field-button">
                <button mat-button (click)="saveRating(rat)">Mentés</button>
                <button mat-button (click)="cancelEditing()">Mégse</button>
              </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
        <div class="delete-profile">
          <button mat-button color="warn" (click)="deleteUser()">
            Profil törlése
          </button>
        </div>
    </mat-card>

    <div *ngIf="!user">
      <p>Betöltés....</p>
    </div>
 
</div>
