<div *ngIf="user && formTrigger === false">
  <p>Name: {{ user.name }}</p>
  <p>Email: {{ user.email }}</p>
  <p *ngIf="user.role === 'admin'">Szerepkör: {{ user.role }}</p>
  <p *ngIf="user.nickname">Nickname: {{ user.nickname }}</p>
  <p *ngIf="!user.nickname">Nickname: Nincs megadva</p>
  <button mat-button (click)="formTriggerFunc()">Nickname módosítása</button>
</div>

<div *ngIf="user && formTrigger === true">
  <p>Name: {{ user.name }}</p>
  <p>Email: {{ user.email }}</p>
  <form class="example-form" (ngSubmit)="setNewNickname()">
    <mat-form-field class="example-full-width">
      <mat-label>Adj meg becenevet:</mat-label>
      <input
        matInput
        [(ngModel)]="newNickname"
        placeholder="Új becenév"
        name="nickname"
      />
    </mat-form-field>
  </form>
  <button mat-button (click)="setNewNickname()">Mentés</button>
  <button mat-button (click)="formTriggerFunc()">Mégse</button>
  <button mat-button (click)="removeNickname()">Ninckname törlése</button>
</div>

<div class="ratings-section">
  <h4>Vélemények</h4>

  <div class="ratings-list">
    <div *ngFor="let rat of ratings">

      <div *ngIf="editingRatingId !== rat.rating_id">
          
        <p>Név/id: {{ rat.toilet_id }}</p>
        <p>{{ rat.creation_time | date : "yyyy. MM. dd." }}</p>
        <app-star-rating [rating]="rat.value" [readonly]="true">
        </app-star-rating>
        <p>{{ rat.description }}</p>

        <button mat-button (click)="modifyRating(rat.rating_id)">Módosítás</button>
        <button mat-button (click)="deleteRating(rat.rating_id)">Törlés</button>

        <mat-divider></mat-divider>
      <br>
      </div>


      <div *ngIf="editingRatingId === rat.rating_id">
        <p>Név/id: {{ rat.toilet_id }}</p>
        <app-star-rating [(rating)]="rat.value"> </app-star-rating>
        <mat-form-field class="example-full-width">
        <mat-label>Vélemeény módosítása</mat-label>
        <textarea
          matInput
          placeholder="rat.description"
          [(ngModel)]="rat.description"
          name="description"
        ></textarea>
      </mat-form-field>
      <br>

        <button mat-button (click)="cancelEditing()">Mégse</button>
        <button mat-button (click)="saveRating(rat)">Mentés</button>

        <mat-divider></mat-divider>
      <br>
      </div>


    </div>
    <br />
  </div>
</div>

<div *ngIf="!user">
  <p>Betöltés....</p>
</div>
